<center>
<img src="../../img/ods_stickers.jpg">
    
## [mlcourse.ai](https://mlcourse.ai) - Open Machine Learning Course

Author: [Yury Kashnitsky](https://www.linkedin.com/in/festline/). Translated and edited by [Sergey Isaev](https://www.linkedin.com/in/isvforall/), [Artem Trunov](https://www.linkedin.com/in/datamove/), [Anastasia Manokhina](https://www.linkedin.com/in/anastasiamanokhina/), and [Yuanyuan Pao](https://www.linkedin.com/in/yuanyuanpao/). All content is distributed under the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license.

# <center> Assignment #1 (demo)
## <center>  Exploratory data analysis with Pandas


**Same assignment as a [Kaggle Kernel](https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset) + [solution](https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset-solution).**

**In this task you should use Pandas to answer a few questions about the [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) dataset. (You don't have to download the data â€“ it's already  in the repository). Choose the answers in the [web-form](https://docs.google.com/forms/d/1uY7MpI2trKx6FLWZte0uVh3ULV4Cm_tDud0VDFGCOKg).**

Unique values of all features (for more information, please see the links above):
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max.columns', 100)
# to draw pictures in jupyter notebook
%matplotlib inline 
import matplotlib.pyplot as plt
import seaborn as sns
# we don't like warnings
# you can comment the following 2 lines if you'd like to
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('../../data/adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [6]:
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. What is the average age (*age* feature) of women?**

In [9]:
female = data[data['sex']=="Female"]
fem_age =female['age'].mean()
fem_age

36.85823043357163

**3. What is the percentage of German citizens (*native-country* feature)?**

In [20]:
germans = data[data['native-country']== "Germany"].shape[0]
germans
total_persons = data.shape[0]
total_persons
german_perc = (germans/total_persons)*100
german_perc

0.42074874850281013

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year? **

In [39]:
k_minus = data[data['salary'] == "<=50K"]
k_minus_age_mean = k_minus['age'].mean()
k_minus_age_std = k_minus['age'].std()
print ('Income below 50K, age mean: {}, age std: {}'.format(k_minus_age_mean, k_minus_age_std))

Income below 50K, age mean: 36.78373786407767, age std: 14.020088490824813

In [41]:
k_plus = data[data['salary'] == ">50K"]
k_plus_age_mean = k_plus['age'].mean()
k_plus_age_std = k_plus['age'].std()
print ('Income above 50K, age mean: {}, age std: {}'.format(k_plus_age_mean, k_plus_age_std))

Income above 50K, age mean: 44.24984058155847, age std: 10.51902771985177

**6. Is it true that people who earn more than 50K have at least high school education? (*education â€“ Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [44]:
educations = k_plus['education'].unique()
educations

array(['HS-grad', 'Masters', 'Bachelors', 'Some-college', 'Assoc-voc',
       'Doctorate', 'Prof-school', 'Assoc-acdm', '7th-8th', '12th',
       '10th', '11th', '9th', '5th-6th', '1st-4th'], dtype=object)

In [62]:
high_education = np.array(['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate'])

In [63]:
set(educations).issubset(set(high_education))

False

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [67]:
grouping_columns = ['race', 'sex']
age_stats = data.groupby(by=grouping_columns)['age'].describe()
age_stats

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

In [77]:
max_age = data[(data['race'] == 'Amer-Indian-Eskimo') & (data['sex'] == 'Male')].age.max()
max_age

82

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [114]:
male_50k_plus = k_plus[k_plus['sex'] == 'Male']
male_50k_minus = k_minus[k_minus['sex'] == 'Male']
male_50k_minus.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K

In [112]:
cond1 = male_50k_plus['marital-status'] == 'Married-civ-spouse'
cond2 = male_50k_plus['marital-status'] == 'Married-spouse-absent'
cond3 = male_50k_plus['marital-status'] == 'Married-AF-spouse'

male_50k_plus_married = male_50k_plus[cond1 | cond2 | cond3]
married = male_50k_plus_married.shape[0]
male_50k_plus_bachelor = male_50k_plus[male_50k_plus['marital-status'].isin(['Never-married', 'Divorced', 'Separated', 'Widowed'])]
bachelor = male_50k_plus_bachelor.shape[0]
if bachelor > married:
    print ('Bachelors {} earn more than married people {}'.format(bachelors, married))
else:
    print ('Married men {} earn more than bachelors {}'.format(married, bachelor))

Married men 5965 earn more than bachelors 697

In [124]:
male_50k_plus_married = male_50k_plus[male_50k_plus['marital-status'].isin(['Married-civ-spouse', 'Married-spouse-absent', 'Married-AF-spouse'])]
married_plus = male_50k_plus_married.shape[0]
male_50k_plus_bachelor = male_50k_plus[male_50k_plus['marital-status'].isin(['Never-married', 'Divorced', 'Separated', 'Widowed'])]
bachelor_plus = male_50k_plus_bachelor.shape[0]

male_50k_minus_married = male_50k_minus[male_50k_minus['marital-status'].isin(['Married-civ-spouse', 'Married-spouse-absent', 'Married-AF-spouse'])]
married_minus = male_50k_minus_married.shape[0]
male_50k_minus_bachelor = male_50k_minus[male_50k_minus['marital-status'].isin(['Never-married', 'Divorced', 'Separated', 'Widowed'])]
bachelor_minus = male_50k_minus_bachelor.shape[0]



print ('In the income group "<50K" there are {}% bachelors'.format(bachelor_minus/married_minus*100))
print ('In the income group ">50K" there are {}% bachelors'.format(bachelor_plus/married_plus*100))

In the income group "<50K" there are 99.68321013727561% bachelors
In the income group ">50K" there are 11.684828164291702% bachelors

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [137]:
max_hours_per_week =data['hours-per-week'].max()
max_hours_per_week
max_workers= data[data['hours-per-week'] == max_hours_per_week].shape[0]

high_income= data[(data['hours-per-week'] == max_hours_per_week) & (data['salary'] ==">50K")]
high_income.shape[0]                  
low_income= data[(data['hours-per-week'] == max_hours_per_week) & (data['salary'] =="<=50K")]
low_income.shape[0]   

print ('{}% of workers that work {} hours per week have an income ">50K"'.format(high_income.shape[0] /low_income.shape[0] *100, max_hours_per_week))

41.66666666666667% of workers that work 99 hours per week have an income ">50K"

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [140]:
group_columns = ['native-country', 'salary']
country_income = data.groupby(group_columns)['hours-per-week'].mean()

In [143]:
data['native-country'].unique()

array(['United-States', 'Cuba', 'Jamaica', 'India', '?', 'Mexico',
       'South', 'Puerto-Rico', 'Honduras', 'England', 'Canada', 'Germany',
       'Iran', 'Philippines', 'Italy', 'Poland', 'Columbia', 'Cambodia',
       'Thailand', 'Ecuador', 'Laos', 'Taiwan', 'Haiti', 'Portugal',
       'Dominican-Republic', 'El-Salvador', 'France', 'Guatemala',
       'China', 'Japan', 'Yugoslavia', 'Peru',
       'Outlying-US(Guam-USVI-etc)', 'Scotland', 'Trinadad&Tobago',
       'Greece', 'Nicaragua', 'Vietnam', 'Hong', 'Ireland', 'Hungary',
       'Holand-Netherlands'], dtype=object)

In [144]:
country_income['native-country' == 'Japan']

40.16475972540046